
@{
    ViewBag.Title = "VerHomeSolicitante";
}

<h2>Home Solicitante</h2>

<br />
<div class="list-group">
    <div class="list-group-item">
        <p>Importar usuarios a la base de datos via documento de texto:</p>
        <button onclick="location.href='@Url.Action("ImportarUsuarios", "Common")';return false;" class="btn btn-default">Importar Usuarios</button>
    </div>

    <div class="list-group-item">
        <p>Importar proyectos a la base de datos via documento de texto:</p>
        <button onclick="location.href='@Url.Action("ImportarProyectos", "Common")';return false;" class="btn btn-default">Importar Proyectos</button>
    </div>

    <div class="list-group-item">
        <p>Buscar proyectos propuestos anteriormente:</p>
        <button onclick="location.href='@Url.Action("BuscarProyectos", "HomeSolicitante")';return false;" class="btn btn-default">Buscar Proyectos</button>
    </div>

    <div class="list-group-item">
        <button onclick="location.href='@Url.Action("Logout", "Common")';return false;" class="btn btn-default">Logout</button>
    </div>
</div>